@charset "utf-8";
html,
body,
div,
img,
h1,
h2,
h3,
ol,
ul,
li,
p,
span,
header,
section,
footer {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Microsoft YaHei";
  font-size: 14px;
  color: #333;
}
li {
  list-style: none;
}
img {
  border: none;
}
input,
select,
textarea {
  outline: none;
  border: none;
  background: none;
}
textarea {
  resize: none;
}
a {
  text-decoration: none;
}
body {
  background: #e6e6e6;
}
