@import "reset", "mixin";

@include reset-eric();

$hover: #e63a13;

body{
	font-family: "Microsoft YaHei";
	font-size: 14px;
}

a{
	text-decoration: none;
}

.wrap{
	width: 1160px;
	margin: 0 auto;
}

.wrap-info{
	width: 1000px;
	margin: 0 auto;
}

.part-tit{
	margin: 0 auto;
	width: 300px;
	padding: 10px 0;
	overflow: hidden;

	img{
		width: 30%;
		float: left;
	}
	h2{
		width: 60%;
		height: 94px;
		line-height: 94px;
		font-size: 32px;
		font-weight: bold;
		color: #333;
		float: right;
	}
}


.header{
	border-bottom: 5px solid $hover;

	.v-detail-tit{
		h1{
			font-size: 20px;
			font-weight: bold;
			text-align: center;
			padding: 40px 0;
		}
	}
}

.container{
	overflow: hidden;
	margin:20px 0;

	.l-bar{
		width: 960px;
		float: left;

		.detail-list{
			padding: 20px 0;
			overflow: hidden;
			border-bottom: 1px solid #ccc;

			.d-l{
				width: 710px;
				float: left;

				h1{
					font-size: 20px;
					font-weight: bold;
					@include line-height(40px);
					overflow: hidden;

					a{
						color: #333;
					}
					a:hover{
						color: $hover;
					}
				}
				.desc{
					padding:20px 0;
					height: 80px;
					line-height: 32px;
					overflow: hidden;
					color: #666;
					a{
						color: #333;
					}
					a:hover{
						color: $hover;
					}
				}
				.date{
					@include line-height(30px);
					color: #666;
				}
			}
			.d-r{
				width: 230px;
				height: 150px;
				float: right;
				overflow: hidden;

				img{
					width: 230px;
				}
			}
		}

		.v-list{
			width: 300px;
			float: left;
			margin: 20px 0 20px 20px;
			border-bottom: 1px solid #ccc;
			padding-bottom: 20px;

			.v-img{
				position: relative;
				width: 300px;
				height: 178px;
				overflow: hidden;

				img.vedio-img{
					width: 300px;
				}
				h1{
					position: absolute;
					@include line-height();
					bottom: 0;
					padding: 0 20px;
					font-size: 20px;
					color: #fff;

					a{
						color: #fff;
					}
					a:hover{
						color: $hover;
					}
				}
			}
			.v-desc{
				margin: 20px 0 0 0;
				height: 60px;
				line-height: 30px;
				overflow: hidden;
				padding: 0 10px;


				a{
					color: #333;
				}
				a:hover{
					color: $hover;
				}
			}
		}
	}
	.r-bar{
		width: 180px;
		float: right;

		.QR-box{
			width: 180px;
			text-align: center;
			padding: 20px 0 30px 0;

			img{
				margin: 20px 0;
			}
			p{
				span{
					color: #ee4d28;
				}
			}
		}
	}
	
	.page-nav{
		width: 100%;
		float: left;
		margin: 30px 0 50px 0;

		a, span{
			display: inline-block;
			border: 1px solid #394352;
			padding: 10px;
			@include line-height(10px);
			text-align: center;
			margin: 0 10px 0 0;
			color: #333;
		}
		span.current, a:hover{
			background: #394352;
			color: #fff;
			cursor: pointer;
		}
	}

	.article{
		padding: 20px 0;

		h1.tit{
			font-size: 20px;
			font-weight: bold;
			text-align: center;
			line-height: 30px;
		}
		.date{
			padding: 20px 0;
			color: #666;
			text-align: center;
		}
		.content{
			img{
				margin: 10px 0;
			}
			p{
				text-align: left;
				text-indent: 2em;
				font-size: 16px;
				line-height: 24px;
				padding: 20px 0;
				overflow: hidden;

				img{
					float: left;
					max-width: 100%;
				}
			}

			.v-info{

			}
		}
	}
}

$color: #ff3c00;

.container{

	.p-one,.p-two,.p-thr,.p-fou,.p-fiv{
		margin: 50px 0 0 0;
		color: #666;
		font-size: 16px;
		line-height: 30px;
		
		h2{
			@include line-height(20px);
			font-size: 20px;
			border-left: 5px solid $color;
			padding-left: 20px;
			font-weight: bold;
			color: #333;
		}
		p.tips{
			padding: 30px 0;
		}
		ul{
			margin: 0 0 30px 0;
		}
		h3{
			font-size: 24px;
			color: $color;
			padding: 3px 0;
			text-align: center;
			font-weight: normal !important;
		}
		.orange{
			color: $color;
		}
	}
	.p-two,.p-thr{
		ul{
			margin-top: 30px;
		}

	}
	.p-fou{
		.first{
			padding-top: 30px;
		}
		p{
			padding: 15px 0;
		}
	}
	.p-fiv{
		.fiv-box{
			@include clearfix();
			margin-top: 30px;

			.QR-code{
				width: 240px;
				float: left;
				text-align: left;
		
				h3{
					font-size: 14px;
					font-weight: bold;
					margin: 0 0 10px 0;
					color: #333;
					text-align: left;
				}
				p{
					font-size: 14px;
					line-height: 20px;
					margin: 10px 0 0 0;
					color: #333;

					span{
						color: #f00;
					}
				}
			}
			.two{
				p{
					width: 180px;
					text-align: center;
				}
			}
			
		}
		ul{
			margin: 30px 0 30px 0;
		}
	}
	.p-six{
		text-align: center;
		padding: 0 0 40px 0;
		h3{
			margin: 0 0 20px 0;
		}
	}
	.register{
		margin: 60px 0 0 0;
		h2{
			color: $color;
			text-align: center;
			font-size: 26px;
		}
		.reg-box{
			margin: 30px 0 50px 0;
			@include clearfix();
	
			.shadow{
				border: 1px solid #ccc;
				box-shadow: 1px 1px 3px #ccc;
			}
			.QR-code{
				float: left;
				width: 290px;
				height: 300px;
				text-align: center;
				padding: 20px 0 0 0;

				h3{
					font-size: 18px;
					font-weight: bold;
					margin: 0 0 20px 0;

					span{
						color: #ff0000;
					}
				}
				p{
					font-size: 14px;
					color: $color;
					line-height: 20px;
					margin: 10px 0 0 0;
				}
			}
			.form-box{
				float:right;
				width: 680px;
				padding: 20px 0 0 0;
				height: 300px;
				text-align: center;
				
				dl{
					margin: 20px 0;
					@include clearfix();
					
					dt{
						width: 30%;
						float: left;
						text-align:right;
						@include line-height();
						font-size: 18px;
					}
					dd{
						width:66%;
						float: right;
						text-align: left;
						@include line-height();

						input{
							width: 70%;
							padding: 0 10px;
							@include line-height(30px);
							border: 1px solid #ccc;
						}
					}
				}
				.submit{
					input{
						width: 300px;
						border: none;
						background: $color;
						@include line-height(40px);
						color: #fff;
						font-size: 20px;
						font-family: 'Microsoft YaHei';
						cursor: pointer;
						border-radius: 5px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 800px){
	.wrap{
		width: 100%;
	
		.article{
			padding: 0 10px;

			h1{
				line-height: 30px;
			}
			.content{
				p{
					font-size: 14px;

				}
			}
		}
	}
	img{
		max-width: 100%;
	}

	.part-tit{
		margin: 0 auto;
		width: 200px;
		padding: 10px 0;
		overflow: hidden;

		img{
			width: 30%;
			float: left;
		}
		h2{
			width: 60%;
			height: 70px;
			line-height: 70px;
			font-size: 22px;
			font-weight: bold;
			color: #333;
			float: right;
		}
	}

}