// custom variable
$m-color: #ffc528;
$top-size: 30px;
$color-white: #fff;
$full-screen: 100%;
$font-family: "Microsoft YaHei";
$blue: #061837;
$yellow: #febc09;
$font-nomalsize: 14px;

$btn-color: #10285d;
$btnd-color: #071c3f;