// custom variable
$top-size: 30px;
$color-white: #fff;
$full-screen: 100%;
$font-family: "Microsoft YaHei";

$g999: #999;
$g666: #666;
$g333: #333;
$blue: #19273f;
$yellow: #fbc638;
$f-color: #febc09;
$b-color: #e8e8e8;
$green: #48d394;
$red: #ff6c64;

$font-nomalsize: 14px;