@import "../mixin";
@import "../variable";
@import "../response";

.login-icon{
	width: 50%;
	margin: 50px auto 0 auto;	
}

.login-box{
	padding: 20px;

	.input-box{
		border-top: 1px solid $gray;
		border-left: 1px solid $gray;
		border-right: 1px solid $gray;
		margin: 0;

		dt,dd{
			margin: 0;
			padding: 0;
			@include line-height();
			border-bottom: 1px solid $gray;
			img{
				width: 30px;
				height: 30px;
				margin: 10px;
			}
		}
		.input-text{
			@include line-height();
			width: 100%;
			padding: 0;
			border: none;
			background: none;
			text-align: left;
		}
	}
	.login-tool{
		padding: 20px 0;
		@include clearfix();

		span{
			display: block;
			width:40%;
			@include line-height(30px);
		}
		.remember{
			float: left;
			text-align: left;
			padding: 0 0 0 40px;
			background: url(../../images/login/remember-icon.jpg) no-repeat;
			background-size: 30px 30px;
			color: $gray;
		}
		.forget{
			float: right;
			text-align: right;
		}
	}

}


.button{
	@include button($color: $m-color);
	border-radius: 3px;
	font-size: 20px;
	color: #fff;
}

@media screen and (max-width: 320px) and (min-height: 480px){
.login-icon{
	margin: 20px auto 0 auto;
}



}