@import "../mixin";
@import "../variable";

.fl{
  float: left;
}
.fr{
  float: right;
}
.cb{
  clear: both;
}
.bb{
  border-bottom: none !important;
}
.m0{
  margin:0;
}
.mt20{
  margin-top: 20px;
}
.pl10{
  padding-left:10px;
}
.g333{
  color: #333;
}
.g999{
  color:#999 !important;
}
.orange{
  color: #ff9000 !important;
}
.blue{
  color: #677491 !important;
}
.tc{
  text-align: center !important;
}
.tl{
  text-align: left !important;
}
.tr{
  text-align: right !important;
}
#dropDown{
  @include clearfix();
}
.top-nav{
  @include line-height();
  border-bottom: 1px solid $b-color;
  background: #fff;

  ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  ul.nav{
    display: flex;
    &>li{
    @include line-height(48px);
      flex: 1;
      &:last-child{
        position: relative;
        span{
          display: block;
          width: 100%;
          @include line-height(20px);
          margin: 15px 0;
          border-right: 1px solid #e8e8e8;
          background: url(../../images/arrow-down.png) no-repeat 90% center;
          background-size: 15px 9px;
        }
        ul{
          display: none;
          position: absolute;
          top: 50px;
          width: 100%;
          background: #fff;
          box-shadow: 0px 0px 3px $b-color;
          z-index: 9;
          li{
            @include border-top();
          }
        }
      }
    }
  }
  .ac{
    color: $m-color;
    border-bottom: 2px solid $m-color;
    
    ul{
      color: $g333;
    }
    span{
      background: url(../../images/arrow-up.png) no-repeat 90% center !important;
      background-size: 15px 9px !important;
    }
  }

  .statistics{
    @include clearfix();
    text-align: center;
    img{
      width: 20px;
      margin: 15px 0 0 0;
    }
  }
}
.record {
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  background: #fff;
}
.record .card-box {
  position: relative;
  padding: 10px;
  border-bottom: 1px solid #e8e8e8;
}
.record .card-box:last-child {
  border-bottom: none;
}
.record .c-icon img {
  width: 50px;
  height: 50px;
  margin: 10px auto;
}
.record .c-con h3 {
  font-size: 16px;
  margin: 12px 0;
  padding: 0 0 0 10px;
}
.record .c-con p {
  color: #999;
  font-size: 14px;
  margin: 40px 0;
  padding: 0 0 0 10px;
}
.record .c-sel {
  text-align: center;
  min-height: 30px;
}
.record .c-sel img {
  width: 10px;
  height: 17px;
  margin-top: 28px;
}
.record_card img{
  width:22px;
  height: 22px;
  margin:14px 0 0 10px;
}
.tran_pro {
  background: #fff;
  border-bottom: 1px solid #e8e8e8;
  padding: 20px 0;
}
.tran_pro .time-line-box {
  position: relative;
}
.tran_pro .time-line-box .time-line {
  position: relative;
  z-index: 0;
  width: 3px;
  background: #ccc;
  margin: 0 auto;
}
.tran_pro .time-line-box .selected {
  position: absolute;
  left: 50%;
  width: 20px;
  height: 20px;
  margin: 0 0 0 -10px;
}
.tran_pro .time-line-box .selected img {
  z-index: 1;
}
.tran_pro .p-one, .tran_pro .p-two {
  border-bottom: 1px solid #e8e8e8;
  padding: 10px 0 0 0;
  height: 60px;
  text-align: left;
}
.tran_pro .p-thr {
  padding: 20px 0 0 0;
  height: 60px;
  text-align: left;
}
.tran_pro p {
  margin: 5px 0;
}
.details_box1, .details_box3{
  margin:0 !important;
}
.details_tit span{
  padding-left: 30px;
  background: url(../../images/money.png) no-repeat 0 15px;
  background-size: 23px 23px;
}
.tran_money div:first-child span{
  color: #999 !important;
}
.tran_money div:last-child span{
  font-size:50px;
  font-family: "宋体",sans-serif;
  padding-top:5px !important;
  padding-bottom: 20px !important;
}
.tran_money div:last-child span.orange{
  color: #ff9000;
}
.tran_money div:last-child span.green{
  color: #58b40e;
}
.details_box2 {
  border-bottom: 1px solid #e8e8e8;
  position: relative;
  overflow: hidden;
}
.details_box2 .det-row {
  position: relative;
  padding: 10px 0;
  z-index: 1;
  left: 0;
  background: #fff;
}
.details_box2 .det-detail p {
  @include clearfix();
  margin: 5px 0;
  line-height: 30px;
  font-size: 16px;
}
.details_box3{
  border-top: none;
}
.details_box4{
  margin:0 20px;
}
.details_box4 .button1,.details_box4 .button2{
  width:47%;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  margin:20px 0 10px 0;
  border-radius: 3px;
  font-size: 16px;
}
.details_box4 .button1{
  border:2px solid #ff8502;
  color: #ff8502;
  float: left;
}
.details_box4 .button2{
  border:2px solid #ff9000;
  background: #ff9000;
  color: #fff;
  float: right;
}

.succ_box1{
  position: relative;
  padding: 10px 0;
  margin-left:10px;
  border-bottom: 1px solid #e8e8e8;
}
.succ_box1 .c-icon img {
  width: 50px;
  height: 50px;
  margin: 10px auto;
}
.succ_box1 .c-con h3 {
  font-size: 19px;
  margin: 5px 0;
  padding: 7px 0 0 0;
  font-weight: normal;
}
.succ_box1 .c-con p {
  color: #999;
  font-size: 16px;
  margin: 5px 0;
  padding: 0;
}
.succ_box2{
  position: fixed;
  bottom: 0;
  z-index: 9;
  width:100%;
  background: #fff;
  border-top: 1px solid #d7d7d7;
  height:50px;
  line-height: 50px;
  text-align: center !important;
  font-size: 20px;
}
.succ_box2 p{
  margin: 0 auto;
  width: 120px;
  padding: 0 0 0 20px;
  background: url(../../images/selected-g.png) no-repeat left center;
  background-size: 24px 24px;
}
.fail_box2{
  position: fixed;
  bottom: 0;
  z-index: 9;
  width:100%;
  background: #fff;
  border-top: 1px solid #d7d7d7;
  height:50px;
  line-height: 50px;
  text-align: center !important;
  font-size: 20px;
}
.fail_box2 p{
  margin: 0 auto;
  width: 120px;
  padding: 0 0 0 20px;
  background: url(../../images/fail-icon.png) no-repeat left center;
  background-size: 24px 24px;
}
.count_box1{
  margin:0 !important;
}
.count_box1 span{
  display: inline-block !important;
}
.count_box1 .list-row .l-l span{
  margin:0 !important;
  font-weight: bold;
}
.count_box1 .list-row .l-l img{
  width:20px;
  height: 20px;
  vertical-align: -4px;
}
.count_box4{
  position: fixed;
  bottom: 0;
  width:100%;
  text-align: center !important;
  color: #999;
}
.tran_det .list-row .l-l span{
  margin:0;
}
.tran_det img{
  width:23px;
  height: 23px;
  vertical-align: -6px;
}
.tran_det .list-row{
  margin-left: 10px;
}
.tran_det .list-row .l-r span{
  padding:0;
}
.trandet_box2{
  margin-left: 0 !important;
}
.trandet_box2 .orange{
  font-size: 28px !important;
}
.trandet_box2 .g999{
  font-size:16px !important;
  margin-top:3px !important;
}
.tran_det2{
  margin-left:10px;
  border-bottom:1px solid #e8e8e8;
}
.row .det_count{
  border-left:1px solid #e8e8e8;
  margin-top:15px;
  height:75px;
  font-size: 13px;
}
.row .det_count div{
  margin-bottom: 12px;
}
.card_money{
  font-size:50px;
  font-family: "宋体",sans-serif;
  padding-top:5px !important;
}
.card_money>div:first-child span{
  color: #999 !important;
  font-size: 14px;
}
.tran_det3 div span{
  display: inline-block !important;
  font-size: 14px; 
}
.list-box .list-row .l-r span {
  margin: 0 !important;
  padding: 0 !important;
}
.list-box .list-row .l-l span {
  margin: 0 !important;
  padding: 0 !important;
}