@import "normalize", "mixin";
@import "animate/base";

$color: #ea5628;

body{
	font-family: 'Microsoft YaHei';
	font-size: 14px;
}

img{
	max-width: 100%;
}

.pad-b20{
	padding: 0 0 60px 0;
}

.pad-t20{
	padding: 20px 0 0 0;
}

header{
	position: relative;
	@include clearfix();

	img{
		float: left;
	}
	.rule{
		position: absolute;
		width: 100px;
		@include line-height();
		right: 5px;
		top: 80px;
		background: rgba(241, 176, 0, .5);
		border: 1px solid #fff000;
		text-align: center;
		color: #fff;
		font-size: 18px;
		border-radius: 5px;
	}
}

#container{
	position: relative;
	.form-bg{
		@include clearfix();
		img{
			float: left;
		}
	}
	.con-box{
		padding: 10px 20px;
		color: #333;

		h2{
			@include line-height(20px);
			font-size: 16px;
			padding: 0 0 0 10px;
			border-left:3px solid #ff3c00;
		}
		p{
			font-size: 14px;
			margin: 20px 0;
		}
		ul{
			padding: 0;

			li{
				list-style-type: none;
				margin: 5px 0;
			}
		}
		h3{
			font-size: 16px;
			color: #ff3c00;
			text-align: center;
		}
	}
	.rule{
		background: #f6f6f6;
	}
	.reward{
		background: #ededed;

		.tips{
			color: #ff3c00;
			font-size: 14px;
			margin: 10px 0;
		}
	}
	.friend{
		h3{
			font-size: 14px;
			color: #666;
			font-weight: normal;
			text-align: left;
		}
		img{
			width: 40%;
		}
		padding: 10px 20px 40px 20px;
	}

	.content{
		padding: 0 5%;
		width: 90%;

		.tips{
			color: #ccc;
			@include text-shadow();
			text-align: center;
		}
		.form-box{
			width: 100%;
			height: 200px;
			margin: 30px 0 0 0;
			background: rgba(255, 255, 255, .1);
			border-radius: 10px;
			border-top: 2px solid #ab93a2;
			border-left: 1px solid #4e4855;
			border-right: 1px solid #4e4855;
		}

		.entry-code{
			@include clearfix();

			.tit{
				width: 45%;
				@include line-height(40px);
				float: left;
				text-align: right;
				color: #fdfdfd;
			}
			.code-box{
				width: 55%;
				float: right;
				text-align: center;

				.code{
					width: 120px;
					@include line-height(40px);
					background: rgba(255, 255, 255, .15);
					color: #ffe052;
					border-radius: 5px;
					text-align: center;
					font-size: 20px;
					margin: 0 auto;
				}
				p{
					margin: 50px 0 0 0;
					width: 150px;
					text-align: center;
					color: #999999;
				}
			}
		}
		.code{
			width: 120px;
			@include line-height(40px);
			background: rgba(255, 255, 255, .15);
			color: #ffe052;
			border-radius: 5px;
			text-align: center;
			font-size: 20px;
			margin: 0 auto;
			position: absolute;
			top: 0;
			left: 50%;
		}
		.succ-info{
			p{
				color: #fff;
				text-align: center;
				line-height: 24px;
			}
		}
		.more{
			text-align: center;
			color: #fff;
			margin: 50px 0 20px 0;
		}
		.btn{
			@include line-height();
			border: 2px solid #ee4d28;
			text-align: center;
			margin:0 0 10px 0;
			border-radius: 5px;
		}
		.download{
			background: #ee4d28;
			color: #fff;
		}
		.share{
			background: #fff;
			color: #ee4d28;
		}
		.contact{
			color: #999999;
		}
		.end-tit{
			font-size: 20px;
			text-align: center;
			color: #fff;
		}
		.QR-code{
			text-align: center;
			margin: 30px 0;
			position: relative;

			img{
				width: 120px;
				height: 120px;
			}
			.tips{
				position: absolute;
				left: 50%;
				top: 20%;
				margin-left: 70px;
				text-align: left;
				color: #fff;
			}
		}
	}
	.end-c{
		top: 55% !important;
	}

}
#wrapper {
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	left: 0;
	width: 90%;
	overflow: hidden;
	margin:15px 5%;

	.rule-con{
		padding: 0 10px 20px 0;

		h2{
			color: $color;
			font-size: 18px;
		}
		p{
			padding: 5px 0;
		}
		.notes{
			span{
				display: block;
				color: #666;
			}
			color: #2390ff;
		}
	}
}
#container-form{
	position: relative;

	.form-bg{
		@include clearfix();
		img{
			float: left;
		}
	}
	.form-box{
		position: absolute;
		width: 90%;
		top: 50%;
		left: 50%;
		margin-left: -45%;
		background: rgba(255, 255, 255, .15);
		border-top: 2px solid #a3929e;
		border-left: 1px solid #a3929e;
		border-right: 1px solid #a3929e;
		border-radius: 5px;

		.form-tit{
			@include clearfix();
			padding: 0 10px;

			h2{
				color: #e5d0af;
				font-size: 16px;
				font-weight: normal;
				float: left;
				@include line-height(20px);
				margin: 10px 0;
			}
			.detail{
				@include line-height(20px);
				float: right;
				margin: 10px 0;
				color: #ffba00;
			}
		}

		.form-body{
			padding: 0 10px;

			input{
				border: none;
				// @include line-height();
				height: 40px;
				line-height: normal;
				margin: 5px 0;
				width: 96%;
				padding: 0 2%;
				border-radius: 3px;
			}
			.submit{
				@include line-height();
				background: #ee4d28;
				text-align: center;
				color: #fff;
				font-size: 16px;
				margin: 20px 0;
				border-radius: 3px;
			}
			.tips{
				color: #e5d0af;
				text-align: center;
			}
		}
	}

}
footer{
	position: fixed;
	bottom: 0;
	width: 100%;

	.register-btn{
		@include line-height(60px);
		text-align: center;
		font-size: 20px;
		color: #fff;
		font-weight: bold;
		background: #fb562f;
	}
}

@media screen and (max-width:320px) and (max-height:480px){
#container{
	.content{
		top: 40%;
	}
}
}
@media screen and(max-width:320px){
// #container{
// 	.con-box{
// 		p{
// 			font-size: 12px;
// 		}
// 		ul{
// 			li{
// 				font-size: 12px;
// 			}
// 		}
// 	}
// }
#container{
	.content{
		.btn{
			@include line-height(40px);
			font-size: 12px;
		}
	}
}
#container-form{
	.form-box{
		.form-body{
			input{
				height: 40px;
				line-height: normal;
				// @include line-height(40px);
			}
			.submit{
				@include line-height(40px);
				margin: 10px 0;
			}
		}
	}
}
}

@media screen and (max-height: 533px){
	.arrow-box{
		position: fixed;
		bottom: 80px;
	}
}
@media screen and (min-height: 534px){
	.arrow-box{
		position: absolute;
		bottom: 70px;
	}	
}
.arrow-box{
	width:50px;
	height:50px;
	right: 10px;
}
.s-xguide-down{
	position: absolute;
	width:50px;
	height:50px;
	display:inline-block;
	background:url("../images/s_xman_guide.png") no-repeat -21px -3px;
	_background:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/s_xguide_down_ie_a343e020.png",enabled=true,sizingMethod="crop");
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	-o-border-radius:50%;
	opacity:.7;
	cursor:pointer
}
@keyframes xguide_down{
	0%,100%{
		transform:scale(0.0);
		-moz-transform:scale(0.0);
		-o-transform:scale(0.0);
		-webkit-transform:scale(0.0);
		-ms-transform:scale(0.0);
		opacity:0
	}
	50%{
		transform:scale(1.0);
		-moz-transform:scale(1.0);
		-o-transform:scale(1.0);
		-webkit-transform:scale(1.0);
		-ms-transform:scale(1.0);
		opacity:1
	}

}
@-webkit-keyframes xguide_down{
	0%,100%{
		-webkit-transform:scale(0.0);
		-moz-transform:scale(0.0);
		-o-transform:scale(0.0);
		-ms-transform:scale(0.0);
		transform:scale(0.0);
		opacity:0
	}
	50%{
		-webkit-transform:scale(1.0);
		-moz-transform:scale(1.0);
		-o-transform:scale(1.0);
		-ms-transform:scale(1.0);
		transform:scale(1.0);
		opacity:1
	}

}
@-moz-keyframes xguide_down{
	0%,100%{
		-moz-transform:scale(0.0);
		-o-transform:scale(0.0);
		-webkit-transform:scale(0.0);
		-ms-transform:scale(0.0);
		transform:scale(0.0);
		opacity:0
	}
	50%{
		-moz-transform:scale(1.0);
		-o-transform:scale(1.0);
		-webkit-transform:scale(1.0);
		-ms-transform:scale(1.0);
		transform:scale(1.0);
		opacity:1
	}

}
@-o-keyframes xguide_down{
	0%,100%{
		-o-transform:scale(0.0);
		-moz-transform:scale(0.0);
		-webkit-transform:scale(0.0);
		-ms-transform:scale(0.0);
		transform:scale(0.0);
		opacity:0
	}
	50%{
		-o-transform:scale(1.0);
		-moz-transform:scale(1.0);
		-webkit-transform:scale(1.0);
		-ms-transform:scale(1.0);
		transform:scale(1.0);
		opacity:1
	}

}
.s-xguide-down.trans{
	-webkit-animation:xguide_down 4.0s infinite ease-in-out;
	-moz-animation:xguide_down 4.0s infinite ease-in-out;
	-o-animation:xguide_down 4.0s infinite ease-in-out;
	animation:xguide_down 4.0s infinite ease-in-out
}
.s-xguide-down.arrow-1{
	animation-delay:-2.0s;
	-webkit-animation-delay:-2.0s;
	-moz-animation-delay:-2.0s;
	-o-animation-delay:-2.0s
}