.row {
  width: 100%;
  *zoom: 1;
}
.row:before, .row:after {
  display: table;
  content: "";
  line-height: 0;
}
.row:after {
  clear: both;
}
.row .span1, .row .span2, .row .span3, .row .span4, .row .span5, .row .span6, .row .span7, .row .span8, .row .span9, .row .span10, .row .span11, .row .span12 {
  float: left;
}
.row .span1 {
  width: 8.33333333%;
}
.row .span2 {
  width: 16.66666666%;
}
.row .span3 {
  width: 25%;
}
.row .span4 {
  width: 33.33333333%;
}
.row .span5 {
  width: 41.66666666%;
}
.row .span6 {
  width: 50%;
}
.row .span7 {
  width: 58.33333333%;
}
.row .span8 {
  width: 66.66666666%;
}
.row .span9 {
  width: 75%;
}
.row .span10 {
  width: 83.33333333%;
}
.row .span11 {
  width: 91.66666666%;
}
.row .span12 {
  width: 100%;
}

.login-icon {
  width: 50%;
  margin: 50px auto 0 auto;
}

.login-box {
  padding: 20px;
}
.login-box .input-box {
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  margin: 0;
}
.login-box .input-box dt, .login-box .input-box dd {
  margin: 0;
  padding: 0;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}
.login-box .input-box dt img, .login-box .input-box dd img {
  width: 30px;
  height: 30px;
  margin: 10px;
}
.login-box .input-box .input-text {
  height: 50px;
  line-height: 50px;
  text-align: center;
  width: 100%;
  padding: 0;
  border: none;
  background: none;
  text-align: left;
}
.login-box .login-tool {
  padding: 20px 0;
  *zoom: 1;
}
.login-box .login-tool:before, .login-box .login-tool:after {
  display: table;
  content: "";
  line-height: 0;
}
.login-box .login-tool:after {
  clear: both;
}
.login-box .login-tool span {
  display: block;
  width: 40%;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
.login-box .login-tool .remember {
  float: left;
  text-align: left;
  padding: 0 0 0 40px;
  background: url(../../images/login/remember-icon.jpg) no-repeat;
  background-size: 30px 30px;
  color: #ccc;
}
.login-box .login-tool .forget {
  float: right;
  text-align: right;
}

.button {
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #ff9000;
  font-size: 18px;
  border-radius: 3px;
  font-size: 20px;
  color: #fff;
}

@media screen and (max-width: 320px) and (min-height: 480px) {
  .login-icon {
    margin: 20px auto 0 auto;
  }
}